.app {
  background-color: var(--bg1);
  /* width: 100%; */
  /* width: 100vw; */
  /* height: 100vh; */
  /* max-height: 100%; */
  /* overflow-x: hidden; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* padding: 1rem; */
}

.container {
  width: 95%;
  max-width: 40rem;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .container {
    width: 97%;
  }
}

@media (max-width: 576px) {
  .container {
    width: 91%;
  }
}
