.app {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--bg1);
  overflow-x: scroll;
  overflow-x: overlay;
  /* padding: 1rem; */
}

.container {
  width: 95%;
  max-width: 40rem;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .container {
    width: 97%;
  }
}

@media (max-width: 576px) {
  .container {
    width: 98.5%;
  }
}
