@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid violet; */
  /* font-family: "Montserrat", sans-serif; */
  /* font-family: "Poppins", sans-serif; */
  /* font-family: "Nunito", sans-serif; */
}

body {
  margin: 0;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  /* BACKGROUND COLORS */

  --bg1: #eeeeee;

  /* COLOR */
  --color-primary1: #2640d1;
  --color-primary1b: #2640d1aa;
  --color-primary2: #4259db;
  --color-primary2b: #4259dbaa;
  --color-primary3: #5568d9;
  --color-primary3b: #5568d9aa;
  --color-primary4: #6075db;
  --color-primary4b: #6075dbaa;
  --color-primary4c: #6075db44;

  --color-danger1: #d12c26;
  --color-danger1b: #d12c2655;
  --color-danger2: #e83e38;
  --color-danger2b: #e83e3888;
  --color-danger2c: #e83e3833;

  --color-success1: #2bad32;
  --color-success2: #49c94f;
  --color-success3: #50ba55;

  /* LENGTH */
  --nav-height: 3.5rem;
  --sidebar-width: 2.7rem;

  /* GREY THEME */
  --grey-theme: #555555;
  --grey-sidebar: #333333;
  --grey-navbar: #f8f8f8;

  /* BLUE THEME */
  --blue-theme: #4e73df;

  /* PURPLE THEME */
  --purple-theme: #826af9;
  --purple-contrast1: #8f7af7;
  --purple-contrast2: #9b89f5;
  --purple-dark1: #7060c1;
  --purple-dark2: #6455ad;
  --purple-dark2: #594c9a;
  --purple-1: #ac9fef;
  --purple-2: #b5aaef;
  --purple-3: #c2bae9;
}
